#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.MuiPopover-paper {
  width: 50%;
}

.MuiTableContainer-root {
  height: auto;
}

.css-uts851-MuiTableContainer-root {
  height: auto;
}

.navbar-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 35%;
}
.size-left-btn {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.size-right-btn {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}
.btn-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.btn-item:hover {
  color: rgb(189, 189, 189);
  transform: scale(1.1);
}
.logout-btn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.logout-btn:hover {
  color: rgb(255, 3, 3);
  transform: scale(1.1);
}
.MuiTableCell-body {
  height: 10%;
}
h1 {
  color: #42bdf0;
  font-size: 20px !important;
  text-align: center;
}

.form-evenement {
  background: rgb(146, 146, 146);
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
}

input,
select,
textarea {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
input.checkbox {
  width: 5%;
}
label.checkbox {
  color: white;
}
label {
  color: #42bdf0;
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
div.scroll {
  background-color: #3b3b3b;
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}
.submitButton {
  background-color: #42bdf0;
  color: white;
  font-size: 14px;
  margin: 20px 0px;
  cursor: pointer;
}
.submitButton:hover {
  background-color: #0a3054;
}
.navbar {
  background-color: #42bdf0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.navbar-center {
  text-align: center;
  color: white;
  font-size: 40px;
}

.navbar-text {
  color: white;
  font-size: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.group-title {
  white-space: nowrap;
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
  transition: all 0.5s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }
  .navbar-left,
  .navbar-right {
    width: 100%;
    margin-bottom: 10px;
  }
  .navbar-center {
    width: 100%;
    font-size: 20px;
    margin: 10px 0;
  }
  .navbar-text {
    font-size: 20px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
}

.text-navBar {
  color: white;
  transition: all 0.5s ease-in-out;
}

.text-navBar:hover {
  color: gray;
}

.loading {
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-column,
.right-column {
  width: 50%;
  height: 100%;
}

.box-form {
  margin-top: 150px;
}

.box-img {
  margin-top: 80px;
}

.block-connect {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-connect {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.form-connect {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 2px -2px gray;
}

.button-connect {
  background-color: #42bdf0;
  height: 45px;
  width: 400px;
  color: white;
  box-shadow: 0 4px 2px -2px gray;
}

.input-connect {
  height: 45px;
  width: 400px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: 2px solid #42bdf0;
  box-shadow: 10px 5px 5px gray;
  font-size: 17px;
}

.text-connect-label {
  color: #1a1a1a;
}

.input-radio {
  margin: 10px;
}

/*text{
  color: #42bdf0;
  font-weight: bold;
  text-align: center;
}*/
/* Nouveau Groupe */

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: auto;
}
.newGroupe-container {
  background-color: rgb(231, 231, 231);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: auto;
}
.newGroupe-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: auto;
}
.info-groupe {
  background-color: rgb(131, 131, 131);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  padding: 1em;
}
hr {
  height: 15vh;
  width: 0px;
}
.size {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.size input {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 20px;
  text-align: center;
}
.item-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  padding: 1em;
  margin: auto;
}
.item-user button {
  background-color: rgb(255, 56, 56);
  color: white;
  border-radius: 10px;
  border: none;
  width: 50px;
  height: 20px;
  font-size: 10px;
  box-shadow: 0 4px 10px -2px gray;
}
.item-user button:hover {
  background-color: rgb(255, 0, 0);
  transform: scale(1.04);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 4px 10px -2px gray;
}
.size textarea {
  width: 80%;
  height: 200px;
  border-radius: 10px;
  border: none;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.size select {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 20px;
  text-align: center;
}

.members-group {
  background-color: rgb(131, 131, 131);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 90%;
  padding: 1em;
  margin: auto;
}

.current-members {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 2em;
  gap: 1em;
  height: 100%;
}

.items-members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  box-shadow: 4px 5px 5px rgb(173, 173, 173);
  padding: 0.2em;
  border-radius: 4px;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
}
.right-side .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.right-side .search input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 20px;
  text-align: center;
}

.list-groupe {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.item-groupe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 100%;
  box-shadow: 4px 5px 5px rgb(173, 173, 173);
  padding: 0.2em;
  border-radius: 4px;
}
.item-groupe .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-between;
}
.item-groupe .info button {
  background-color: rgb(219, 219, 219);
  border: none;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
  padding: 0.2em;
  font-size: 20px;
  font-weight: bold;
}
.item-groupe .members {
  background-color: rgb(185, 185, 185);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 1.5px;
  width: 70%;
  gap: 0.3em;
  justify-content: space-between;
}
.members .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.open {
  background-color: red;
  display: flex !important;
}
.item-groupe-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
}

.btn-validation {
  border: none;
  width: 90%;
  padding: 0.2em;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.btn-validation button {
  background-color: rgb(219, 219, 219);
  border: none;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px gray;
  padding: 0.2em;
  font-size: 20px;
  font-weight: bold;
}

.btn-validation button:hover {
  background-color: rgb(219, 219, 219);
  border: none;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 4px 2px 1px rgb(145, 156, 255);
  padding: 0.2em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  translate: 0.2em;
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login-container .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
}

.login-container .left-side .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.login-container .right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  background-color: #0a3054;
}

.right-side form {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.right-side form input[type="text"],
.right-side form input[type="password"] {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: solid 1px rgb(5, 4, 4);
  margin-bottom: 10px;
  box-shadow: 0 4px 2px -2px gray;
  font-size: 20px;
  text-align: center;
}

.right-side form label {
  color: rgb(5, 4, 4);
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .login-container .left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vw;
    background-color: rgb(255, 255, 255);
  }
  .login-container .left-side img {
    width: 100vw;
  }

  .login-container .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 170vw;
    background-color: #0a3054;
  }
  .login-container .right-side form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vw;
  }
  .right-side form label {
    color: rgb(5, 4, 4);
    font-size: 100%;
    font-weight: bold;
  }

  .login-container .right-side form .button-connect {
    width: 100%;
    height: 10vw;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 2px -2px gray;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
  }
}
